<div class="sidebar-logo">
    <div class="logo-icon">
        <i class="glyphicon glyphicon-plus"></i>
    </div>

    <div>
        <div class="logo-text">SIMRS</div>

        <div class="logo-subtitle">CLAIM DOCUMENT MANAGER</div>
    </div>
</div>

<div class="sidebar-menu">
    <div class="menu-section-title">MENU UTAMA</div>

    <a href="/dashboard" data-route="dashboard" class="menu-link">
        <span class="menu-icon">
            <i class="glyphicon glyphicon-dashboard"></i>
        </span>

        <span> Dashboard </span>
    </a>

    <a href="/dashboard/visits" data-route="visits" class="menu-link">
        <span class="menu-icon">
            <i class="glyphicon glyphicon-list-alt"></i>
        </span>

        <span> Data Kunjungan </span>
    </a>

    <a
        href="/dashboard/file-manager"
        data-route="fileManager"
        class="menu-link"
    >
        <span class="menu-icon">
            <i class="glyphicon glyphicon-folder-open"></i>
        </span>

        <span> File Manager </span>
    </a>
</div>
