<header id="topbar" class="topbar">
    <button type="button" id="mobileMenuButton" class="btn btn-link">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </button>

    <div class="topbar-title">
        <span id="topbarTitle"> Dashboard </span>
    </div>

    <div class="topbar-user">
        <div class="user-info">
            <strong id="userName"> User </strong>

            <small id="userRole"> User </small>
        </div>

        <button type="button" id="btnLogout" class="btn btn-link">
            <i class="glyphicon glyphicon-log-out"></i>
        </button>
    </div>
</header>
